.about-page,
.faq-page,
.legals-page {
  .illustration {
    width: 12em;
  }

  .partners {
    @extend .list-unstyled;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1100px) {
      flex-wrap: wrap;
      gap: 0.8em;
    }
    //width: 100%;

    li a {
      img {
        height: 6em;
        margin-right: 1em;
      }

      &:not(:last-child) {
        margin-right: 2em;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .faqs li:not(:last-child) {
    margin-bottom: 1.5em;
  }

  p {
    margin: 1em 0;
  }

  p,
  ul {
    font-size: 1.1em;
  }

  .double {
    margin: 1em 0;
  }
  .reply ul {
    font-size: inherit;
    list-style-type: disc;
  }
  .reply li img {
    vertical-align: middle;
  }
  .reply li:not(:last-child) {
    margin-bottom: 0.5em;
  }
}
.faq-page {
  h4 {
    margin-top: 2.5rem;
  }
}
