.book-genealogy {
  position: relative;
}
.book-genealogy-caption {
  @extend .list-unstyled;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  height: 30px;
  border-top: 1px solid black;

  li {
    flex-grow: 1;
    font-size: 0.6em;
    // border-top: 2px solid black;
    box-sizing: border-box;
    top: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 5px;
    position: absolute;

    span {
      display: inline-block;
      position: absolute;
      $width: 4em;

      padding-top: 5px;
      left: 50%;
      width: $width;
      margin-left: -$width / 2;
      text-align: center;
    }
  }
}
.book-timeline {
  position: absolute;
  .label {
    z-index: 1;
    position: absolute;
    text-align: left;
    overflow: hidden;
  }
  .box {
    border-bottom: $secondaryColor 1px solid;
    position: absolute;
    z-index: 0;
  }
  .approx-box {
    border-width: 1px;
    border-style: dashed;

    border-color: $secondaryColor;
    position: absolute;
  }
  .open-start {
    border-left: 0;
  }
  .open-end {
    border-right: 0;
  }
  .book-heatmap-item {
    position: absolute;
    z-index: 1;
    background-color: $primaryColor;
  }
  .death-indicator {
    position: absolute;
    width: 20px;
    background-color: $secondaryColor;
  }
  .death-indicator.merged {
    background-color: $borderColor;
  }
  .merged:after {
    content: "+";
    position: absolute;
    left: 3px;
    top: 1px;
    font-size: 20px;
    color: black;
    z-index: 1;
  }
}
.book-timeline.focused {
  .label {
    font-weight: bold;
  }
  .box {
    border-color: black;
  }
  .approx-box {
    border-color: black;
  }
  .open-start {
    border-left: 0;
  }
  .open-end {
    border-right: 0;
  }
}

.items-timeline {
  position: absolute;
  .items-group {
    position: absolute;
    text-align: left;
    border-bottom: $secondaryColor 2px solid;
    box-sizing: border-box;
  }
  .label {
    position: absolute;
    box-sizing: border-box;
    display: flex;

    span {
      display: flex;
      flex-wrap: nowrap;
      margin-right: 0.5em;
      i {
        line-height: 24px;
      }
      a {
        flex-grow: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
