.result {
  &:not(:last-child) {
    margin-bottom: 1.2em !important;
  }

  h5,
  h6 {
    margin-bottom: 0;
  }

  .result {
    padding-left: 0.8em;
    margin-bottom: 0.3em !important;
  }
}

.results-list > ul > li.result:not(:last-child) {
  margin-bottom: 1.6em;
}

.list-title {
  margin-bottom: 0.6em;
}

.curriculum-vitae h4 {
  margin-bottom: 5px;
}
.list-subtitle {
  margin-bottom: 1rem;
}
.list-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-grid > li.result {
  width: 45%;
  margin-bottom: 1.5em;
}

.values-list-coma-and {
  & > *:not(:first-child):not(:last-child)::before {
    content: ", ";
  }
  & > *:not(:first-child):last-child::before {
    content: " et ";
  }
}
.values-list-coma {
  & > *:not(:first-child)::before {
    content: ", ";
  }
  & > *:not(:first-child) .prefix {
    text-transform: lowercase;
  }
}
.values-list-then {
  & > *:not(:first-child)::before {
    content: " puis ";
    font-style: italic;
  }
}
.values-list-dash {
  & > *:not(:first-child)::before {
    content: " - ";
  }
}

.network-title {
  margin-bottom: 1em;
  select,
  input {
    font-size: 2.5rem;
  }
  input {
    width: 100px;
    text-align: center;
  }
  .custom-select::after {
    line-height: 2.2;
  }
}
#graph {
  margin-top: 10px;
}
.cover {
  max-height: 200px;
  max-width: 33%;
  margin-right: 1em;
}
.description {
  display: flex;
  flex-direction: row;
}
