.barchart,
.heatmap {
  .bars {
    @extend .list-unstyled;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    position: relative;

    li.bar-container {
      flex-grow: 1;
      max-width: 20px;
      height: 100%;
      margin: auto;
      margin-bottom: 0;
      display: flex;
      flex-direction: column-reverse;
      &.selectable {
        cursor: col-resize;
      }
      &.clickable {
        cursor: pointer;
      }
      .bar {
        background-color: $primaryColor;
        width: 100%;
        display: block;
      }

      a.bar:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }

    li.y-caption {
      position: absolute;
      height: 0;
      border-top: 1px dashed black;
      width: 100%;

      span {
        position: absolute;
        line-height: 1em;
        height: 1em;
        right: 100%;
        top: -0.5em;
        margin: 0 0.5em;
        font-family: $serifFont;
      }

      &.right span {
        left: 100%;
        right: unset;
      }
    }

    &.selection {
      li {
        opacity: 0.7;
        &.selected {
          opacity: 1;
          background-color: $secondaryColor;
        }
      }
    }
  }
  .missingValues {
    height: 20px;

    .bar-container {
      background-color: $secondaryColor;
    }
  }

  .xaxis {
    @extend .list-unstyled;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    height: 1em;

    li {
      flex-grow: 1;
      font-size: 0.6em;

      top: 0;
      position: absolute;

      span {
        display: inline-block;
        position: absolute;
        $width: 4em;

        left: 50%;
        width: $width;
        margin-left: -$width / 2;
        text-align: center;
      }
    }
  }
}
.legend {
  font-size: 0.8em;
}
.barchart-legend,
.barchart-missing-legend {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: sub;
}
.barchart-legend {
  background-color: $primaryColor;
}
.barchart-missing-legend {
  background-color: $secondaryColor;
}

.sigma {
  border: 1px solid $borderColor;
  position: relative;
  height: 600px;
  background: white;

  .sigma-container {
    height: 100%;
  }

  .controls {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    display: flex;
    flex-direction: column;
    width: 0;
    align-items: flex-end;

    .search {
      display: flex;
      margin-bottom: 0.2em;
      .react-select {
        min-width: 300px;
      }
    }

    .btn {
      margin-bottom: 0.2em;
      padding: 0;
      height: 3.4em;
      width: 3.4em;
      text-align: center;
      position: relative;

      & > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .caption {
    font-family: inherit;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    max-width: calc(100% - 2em);
    padding: 0.5em 4em 0.5em 0.5em;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    background: white;
    border-top-left-radius: 3px;

    li {
      list-style: none;
      display: inline;
      padding: 0.2em 0.5em;
      border-radius: 0.2em;

      &.active {
        text-decoration: underline;
      }
      &.inactive:not(:hover) {
        color: #ddd;

        .circle {
          background: #ddd !important;
        }
      }

      .circle {
        width: 1em;
        height: 1em;
        border-radius: 1em;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.2em;
        background: #ddd;
      }

      & > * {
        white-space: nowrap;
      }

      &:hover .type {
        opacity: 0.7;
      }
    }
  }
}

.neighbors-list {
  margin-top: 10px;
  column-count: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  & > span {
    width: 30%;
    white-space: nowrap;
    margin: 0 2% 8px 0;
  }

  a.link-with-counts {
    overflow: hidden;
    display: inline-flex;
  }
}

@media screen and (max-width: 1024px) {
  .neighbors-list {
    & > span {
      width: 45%;
    }
  }
}

@media screen and (max-width: 768px) {
  .neighbors-list {
    & > span {
      width: 100%;
    }
  }
}
