.editor-genealogy {
  position: relative;
}
.editor-genealogy-caption {
  @extend .list-unstyled;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  height: 30px;
  border-top: 1px solid black;

  li {
    flex-grow: 1;
    font-size: 0.6em;

    top: 0;
    position: absolute;

    span {
      display: inline-block;
      position: absolute;
      $width: 4em;

      padding-top: 5px;
      left: 50%;
      width: $width;
      margin-left: -$width / 2;
      text-align: center;
    }

    &::after {
      position: absolute;
      content: " ";
      top: 0;
      left: 50%;
      width: 1px;
      height: 4px;
      background: black;
    }
  }
}

.editor-timeline {
  position: absolute;
  .label {
    position: absolute;
    text-align: right;
    overflow: hidden;
  }
  .box,
  .approx-box,
  .book-heatmap-item,
  .death-indicator {
    position: absolute;
  }
}

.editor-timeline,
.editor-timeline-legend {
  .box {
    border-width: 1px;
    border-style: solid;
    border-color: $secondaryColor;
    background-color: white;

    z-index: 0;
  }
  .approx-box {
    border-width: 1px;
    border-style: dashed;

    border-color: $secondaryColor;
  }
  .open-start {
    border-left: 0;
  }
  .open-end {
    border-right: 0;
  }
  .book-heatmap-item {
    z-index: 1;
    background-color: $primaryColor;
    box-sizing: border-box;

    &:hover {
      border: 1px solid black;
    }
  }
  .death-indicator {
    background-color: #7e86c4;
    color: white;
    text-align: center;

    .label {
      display: none;
    }
    &:hover .label {
      display: block;
      color: black;
      background: white;
      border: 1px solid $borderColor;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      top: 100%;
      height: 1em;
      line-height: 1em;
      padding: 0.5em;
      margin-top: 0.2em;
    }
  }
}
.editor-timeline-legend {
  display: flex;
  flex-direction: row;

  .legend-item {
    display: flex;
    margin: 0.5em;
    .label {
      padding: 0.3em;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 2em;
    max-height: 30px;
  }
  .approx-box {
    width: 1em;
    max-height: 40px;
  }
  .death-indicator {
    position: relative;
    display: grid;
    place-items: center;
  }
}
.editor-timeline.focused {
  .label {
    font-weight: bold;
  }
  .box {
    border-color: black;
  }
  .approx-box {
    border-color: black;
  }
  .open-start {
    border-left: 0;
  }
  .open-end {
    border-right: 0;
  }
}
.arrows-container {
  position: absolute;
}
