button.export-btn {
  border: none;
  color: green;
  padding: 0;
  margin: 0;
  height: auto;
  line-height: normal;

  i.fas {
    font-size: 3rem;
  }

  //loading
  &.loading {
    animation: opacity 2s linear infinite;
  }

  //error
  &.error {
    color: $errorColor;
  }

  @keyframes opacity {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
}
