.homepage {
  font-family: $serifFont;

  #search-form {
    transition: margin-top 0.4s;

    & > div {
      outline: none;
      border: none;
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: row;

      & > *:not(:last-child) {
        margin-right: 0.2em;
      }

      span.custom-select,
      button {
        flex-shrink: 0;
      }

      input[type="text"] {
        flex-grow: 1;
      }
    }
  }

  &:not(.expanded) {
    form {
      margin-top: calc(40vh - 8em);
    }
  }
  .welcome {
    margin-top: 50px;
    .description {
      display: block;
      font-size: 1.3em;
      text-align: justify;
    }
    .thumbnails {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      a {
        padding: 1em;

        display: flex;
        flex-direction: column;

        align-items: center;
        .label {
          font-size: 1.5em;
        }
        img {
          height: 180px;
        }
      }
    }
  }

  .filter-block {
    margin-bottom: 1em;

    & > h5 {
      margin-bottom: 0.4em;
    }

    .filter-bar-container button {
      font-size: 0.8em;
    }

    .filter-bar-container:not(:hover) button {
      visibility: hidden;
    }
  }

  // Contents style:
  .contents {
    margin-top: 2em;
    border-top: 1px solid $borderColor;

    // & > * {
    //   padding-top: 2em;
    // }
  }
  .results-list {
    .results-list-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      h4 {
        margin-bottom: 0;
      }
    }
    .results-list-content {
      ul {
        @extend .list-unstyled;
      }
    }
  }

  .scroll-to-top {
    position: fixed;
    text-align: center;
    width: 100px;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    cursor: pointer;

    &:hover {
      color: $primaryColor;
    }

    opacity: 0;
    right: 2em;
    bottom: 1.6em;
    transition: all 0.4s;
    &.show {
      opacity: 1;
      bottom: 2em;
    }
  }

  // Filters and results layout:
  @media (max-width: $tablet-width) {
    .results-list {
      border-top: 1px solid $borderColor;
      margin-top: 2em;
    }
  }
  @media (min-width: $tablet-width) {
    .contents {
      display: flex;
      flex-direction: row;
      position: relative;
    }

    .side-bar {
      flex-shrink: 0;
      padding: 0;
      padding-right: 2em;
      width: 30%;

      position: sticky;
      top: 0;
      align-self: flex-start;

      &.sticky {
        overflow-y: auto;
        max-height: 100vh;
      }

      & > div {
        margin-bottom: 2em;
      }
    }
    .results-list {
      border-left: 1px solid $borderColor;
      padding-left: 2em;
      flex-grow: 1;
    }
  }
}
