/**
 * Page layout:
 */
div.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer,
header {
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}

/**
 * Header style:
 */
header {
  background: $primaryColor;

  padding: 1em 0;

  .container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  h4,
  h5 {
    margin: 0;
    color: white;
  }
  h4 {
    display: inline;
  }

  a,
  a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: $secondaryColor;
    }
  }
}

/**
 * Footer style:
 */
footer {
  border-top: 1px solid $secondaryColor;
  padding: 0.5em 0;

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * {
      flex-grow: 1;
    }

    & > *:not(:first-child) {
      text-align: center;
    }

    & > *:last-child {
      text-align: right;
    }
  }
}

/**
 * Main style:
 */
main {
  margin: 2em 0;
}

.secondary {
  color: $secondaryColor;
}
