.react-select {
  /**
   * Heights fixing:
   */
  $mainHeight: 2.55em;
  $insideHeight: calc(#{$mainHeight} - 4px);
  $contentHeight: calc(#{$mainHeight} - 12px);

  .react-select__indicators {
    height: $insideHeight;
  }

  .react-select__multi-value,
  .react-select__input,
  [class$="-Input"],
  [class$="-Input"] input {
    height: $contentHeight;
  }

  /**
   * Various styles:
   */
  .react-select__control {
    border-color: $borderColor;
    box-shadow: none !important;

    &:focus-within {
      border-color: $primaryColor !important;
    }
  }

  .react-select__multi-value {
    background: $secondaryColor;
  }
  .react-select__multi-value__remove:hover {
    background: $primaryColor;
    color: white;
    cursor: pointer;
  }

  .react-select__option {
    background: white;
    color: black;
  }

  .react-select__option:hover,
  .react-select__option--is-focused {
    background: $secondaryColor;
  }
}
