@import "normalize-scss/sass/normalize/import-now"; // import normalize-scss
@import "skeleton-sass-official/src/core/config"; // Skeleton Sass core loader

// import default theme variables
@import "skeleton-sass-official/src/themes/fresh/vars"; // theme variable overrides

// override existing theme variables
$link-color: $primaryColor; // default link color
$link-hover: #cf6151; // default link color on :hover
$button-primary-hover-background-color: $primaryColor;
$button-primary-hover-border-color: $primaryColor;
$button-primary-border-color: $primaryColor;
$button-primary-background-color: $primaryColor;

// import default theme styles
@import "skeleton-sass-official/src/themes/fresh/include_components"; // theme base styles
@import "skeleton-sass-official/src/themes/fresh/grid"; // theme grid styles

// override existing skeleton rules

// 1. No padding bottom for those elements (from fresh/components/base.scss)
button,
.button,
input,
textarea,
select,
fieldset,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 0;
}

// 2. Fix some hardcoded colors (from fresh/components/form.scss)
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $primaryColor;
  outline: 0;
}
// remove up/down buttons on number input
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// 3. Add horizontal padding to containers
.container {
  padding: 0 0.5em;
}
