body {
  font-family: $sansSerifFont;
}

a {
  color: $primaryColor;

  &:hover {
    color: lighten($primaryColor, 20%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: $serifFont;
}

h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.2em;
}

.custom-select {
  position: relative;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 2em;
    background: transparent;
  }

  &::after {
    position: absolute;
    width: 2em;
    height: 2em;
    line-height: 2em;
    top: 50%;
    margin-top: -1em;
    right: 0;
    text-align: center;

    font-family: $iconsFont;
    font-weight: 900;

    content: "\f105";
    z-index: -1;
  }
}

.value {
  font-weight: bold;
}
.grey {
  color: grey;
}

i.flag {
  font-style: normal;
}

hr {
  margin: 1.5em 0;
  border-top: 1px solid $borderColor;
}
