.mr-1 {
  margin-right: 0.3em;
}

.mr-2 {
  margin-right: 0.5em;
}

.ml-1 {
  margin-left: 0.3em;
}

.ml-2 {
  margin-left: 0.5em;
}

.mv-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv-1 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.sm {
  font-size: 0.8em;
}

.flex {
  display: flex;
  align-items: baseline;
}

.flex-column {
  flex-direction: column;
}

.fg {
  flex-grow: 1;
}

.w100 {
  width: 100%;
}

.highlight {
  box-shadow: inset 0 -0.4em $secondaryColor;
}

a.highlight,
a .highlight {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.list-unstyled {
  list-style: none;
  margin: 0;

  li {
    margin-bottom: 0;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .flex-row-large {
    display: flex;
    flex-direction: row;

    &>* {
      width: 33.33%;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}

.sub-bar {
  height: 0.4em;
  background: $borderColor;

  &>div {
    height: 100%;
    background: $primaryColor;
  }
}

.btn {
  border: none;
  color: white;
  background: $primaryColor;
  padding: 0 1.5em;

  // Cancel some Skeleton styles:
  text-transform: none;
  font-weight: normal;
  font-family: $sansSerifFont;
  letter-spacing: normal;
  line-height: normal;
  font-size: 1em;

  &:disabled {
    cursor: auto;
    background: $secondaryColor;
  }

  &.inline {
    height: auto;
    padding: 0.2em 0.4em;
    text-align: center;
  }

  &:focus,
  &:active,
  &:hover {
    background: $primaryColor;
    opacity: 0.7;
  }

  &.btn-light {
    color: black;
    border: 1px solid $borderColor;
    background: white;

    &:focus,
    &:active,
    &:hover {
      background: white;
      opacity: 0.7;
    }
  }

  &.btn-img {
    padding: 0 1em;

    i {
      font-size: 0.8em;
    }
  }

  &.btn-sm {
    font-size: 0.8em;
  }
}

.new-tab-link {
  opacity: 0.5;
}

.unselectable * {
  user-select: none !important;
  /* CSS3 */
}

.position-relative {
  position: relative;
}
