$sansSerifFont: "Roboto", sans-serif;
$serifFont: "PT Serif", serif;
$iconsFont: "Font Awesome 5 Free";

$primaryColor: #a00932;
$secondaryColor: #d2c9b8;
$borderColor: #e1e1e1;

$errorColor: #dc3545;
